

/*Navigation Bar Section*/

.nav-item{
padding: 0 10px;
}

.nav-link{
font-size:1.1rem;
}

.navbar-brand{
font-family:"Montserrat";
font-size: 2.3rem;
font-weight:Bold;
}

.navbar-dark .navbar-brand {
    color: #fff;
}


/*Content-box*/

.post-title{
background-color: #82AAE3;
border-radius: 5px 5px 5px 5px;

}


.post-box{
padding: 20px 20px;
height: 50%;
width:50%;
background-color: #EAFDFC;
}

.post-content{
background-color: #91D8E4;
border-radius: 5px 5px 5px 5px;
}


.author_name{text-align :right}
